@import "./page.css";
@import "./navbar.css";
@import "tailwindcss";

@theme {
    --text: #e8ece6;
    --color-disabled: #3d444db3;
    /*--color-background: #090e07;*/
    --color-background: #020408;
    --color-primary: #11cc11;
    --color-secondary: #328719;
    --color-accent: #50f121;

    --font-mono: "Roboto", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-background);
}

span,
a {
    color: var(--text);
}

a:link {
    color: var(--color-primary);
}

*,
::after,
::before,
::backdrop,
::file-selector-button {
    margin: 0;
    padding: 0;
}

*,
::after,
::before,
::backdrop,
::file-selector-button {
    box-sizing: border-box;
    border: 0 solid;
}

::-moz-selection {
    /* Code for Firefox */
    color: var(--color-background);
    background: var(--color-primary);
}

::selection {
    color: var(--color-background);
    background: var(--color-primary);
}
