.header {
    margin: 10px;
    font-family:
        -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica,
        Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*@font-face {
    font-family: UbuntuMono;
    font-style: mono;
    src: url("/include/fonts/UbuntuMono.ttf") format("ttf");
}*/

.header .title::before {
    content: "$ ";
    color: var(--color-primary);
}

.header a:link {
    color: var(--text);
}

.header .title:after {
    content: "█";
    animation: blinker 1s step-end infinite;
}

.header .separator {
    display: inline;
    margin-left: 15px;
    padding-left: 15px;
    border-left: 1px solid var(--color-primary);
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}
