#navbar {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--bar_height);
    flex-direction: row;
    background-color: #333;
}

#navbar img {
    color: #ffffff;
    margin-right: var(--bar_margin);
    height: var(--bar_height);
}

#navbar .border-link {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.2s ease;

    display: table;
    height: calc(var(--bar_height) - var(--border_width) * 2);
    line-height: calc(var(--bar_height) - var(--border_width) * 2);
    text-align: center;
    position: relative;

    padding: var(--border_width);
}

#navbar .border-link span {
    padding-left: var(--bar_margin);
    padding-right: var(--bar_margin);
    display: table-cell;
    vertical-align: middle;
}

#navbar .border-link:hover {
    cursor: pointer;
    border: dashed var(--border_width) #ffffff66;
    padding: 0px;
    color: #91a4d2;
}
